[2017-01-25 04:32] SamanthaNguyen opened #8 "300 font-weight makes the content text harder to read"
Can someone explain why this was changed? I personally find it hard to read, and this can make it harder for people who have visual impairments; content should be easily accessible by everyone. I suggest the font-weight should be changed back to normal font-weight (`400`).

[2017-01-26 22:12] SamanthaNguyen commented on #8
moved upstream - https://phabricator.wikimedia.org/T156428

[2017-01-26 22:12] #8 closed

[2017-01-29 17:45] In1quity opened #10 "Bad base font"
Hello, I think new site' font (base one) is really tall, and it is hard to read.

[2017-01-29 17:46] SamanthaNguyen commented on #10
This sounds like a duplicate of #8, which was moved upstream ( https://phabricator.wikimedia.org/T156428 )

[2017-01-29 17:47] In1quity commented on #10
Yep, you are right, thanks! Closed.

[2017-01-29 17:47] #10 closed

[2017-05-20 11:25] jdittrich opened #32 "FEATURE: Implement usability guidelines"
**Story:** As a UX designer, I want to make sure that features of Wikimedia Projects adhere to basic usability principles, like visibility, feedback, UI standards etc .

**Possible solution:** Provide a section on Usability for Wikimedia Projects. A classic example are the Macintosh UI guidelines, which have a section on general UI principles.

**Current problems:**
* There are many usability prin

[2017-05-20 11:45] jdittrich opened #33 "Indicate Draggability/Droppability"
**Story:** As a designer I may need to provide reorderable lists or sliders as interface elements
**Problem:**  Nor components nor styleguide give help on how to provide indication for draggability, and possible drop zones.

[2017-05-20 12:08] jdittrich commented on #32
Naturally, there are a lot of resources out there on usability – so why write them here?

* having rules of usability easily accessible (and not behind a google search with a gazillion of hits)
* "The Styleguide" is a thing that people hopefully refer to in the future and which my become a source that designers, developers and product managers trust (with all its content). It may carry weight if o

[2017-05-20 12:54] jdittrich opened #34 "Preferred mode of contributing"
**Story:** I would like to contribute e.g. with a section on usability principles
**Question:** What is your preferred mode of contribution?
* Do you want to  make me a member so I can push directly to a branch, which someone else can merge?
* Shall I fork to my own repo and make pull requests? (Which provides an additional level of separation, but imho makes updating and pushing harder for contri

[2017-05-20 14:29] jdittrich commented on #34
According to @pauginer, @Volker-E is the (only) direct contributor to the repo; contributions are made by fork, branch, pull request.

[2017-05-20 14:29] #34 closed

[2017-05-20 14:35] Volker-E commented on #34
Adding to this, although I'm admin (together with @prtksxna and @juliengirault on that repo – and basically all Wikimedia organization admins), we're all fully committed to the same Gerrit conventions here, which means [no self-merging besides very trivial changes](https://www.mediawiki.org/wiki/Gerrit/%2B2).
It makes sense to follow the general GitHub approach on
1. forking it to your own repo,
2

[2017-05-21 09:56] jdittrich commented on #32
@Volker-E @pauginer: I started to write at [visual-style_usability.html](https://github.com/jdittrich/WikimediaUI-Style-Guide/blob/usabilityguidelines/visual-style_usability.html)

[2017-05-23 12:15] Volker-E commented on #34
@jdittrich Also captured in https://github.com/wikimedia/WikimediaUI-Style-Guide/blob/master/CONTRIBUTING.md

[2017-05-24 13:54] jdittrich commented on #32
I updated [usability](https://github.com/jdittrich/WikimediaUI-Style-Guide/blob/usabilityguidelines/visual-style_usability.html) and would like to add some examples. I saw that currently, the assets are exported SVGs from sketch. Shall I add my examples as image or do you want to add them via export from sketch, too. If you prefer the latter, shall I send you what I suggest as examples? ( @Incabel

[2017-05-24 14:39] Volker-E commented on #32
As meta notice, do we believe that it needs to be a distinct section of the style guide or wouldn't it be better to have (as it's currently structured already with accessibility) the topics accessibility and usability inherent to the other sections? Our style guide from our own rough plan is targeting making those topics so clear and strongly indicated, that an usability section would be at best a

[2017-05-24 14:41] Volker-E commented on #32
@jdittrich To your last question, it would be best to provide images as SVGs and we would in a next PR put them into the Sketch file for further export in 1x and 2x PNGs and SVGs.

[2017-05-24 15:34] jdittrich commented on #32
It is hard to answer. In the current version of the [styleguide](https://wikimedia.github.io/WikimediaUI-Style-Guide/) I found it hard to integrate; The usability section focuses on behavior, so it did not fit at "visual" well, and the "design principles" were too high-level. In future versions, I can imagine this to change, but for the current one I found it difficult to integrate.

[2017-05-24 15:37] jdittrich commented on #32
Exactly this was my problem – I do not have the UI-elements as SVGs; nor would we have a way to easily create real looking examples from them (aka we don't use macs, thus sadly no Sketch).

[2017-08-07 16:22] Walter0807 commented on #32
How can I use the design elements in my website which is based on Mediawiki?

[2017-08-07 17:11] Volker-E commented on #32
@Walter0807 There are a few different ways, what exactly would you like to use? Also I'd propose to switch this conversation to IRC #wikimedia-design is a good place to talk to me: Volker_E

[2017-08-08 11:18] Walter0807 commented on #32
@Volker-E I didn't find a specific guide of applying it to Mediawiki, I'm wondering if there is a way to pack the design and make a skin for Mediawiki? Thx!

[2018-04-10 07:32] Volker-E commented on #33
@jdittrich This will be part of the “Components” section. In the meantime please refer to the OOUI demos with [SelectFileWidgets drop target](https://doc.wikimedia.org/oojs-ui/master/demos/?page=widgets&theme=wikimediaui&direction=ltr&platform=desktop#SelectFileWidget-with-drop-target) for a droppability area and [DraggableGroupWidget with handles](https://doc.wikimedia.org/oojs-ui/master/demos/?p

[2018-05-18 07:54] Schnark opened #123 "Missing space"
In `visual-style_images.html` line 95, after `<strong>Good resolution quality.</strong>` a space is missing. It's probably faster when you fix this, instead of me cloning and creating a pull request.

[2018-05-18 09:48] Volker-E commented on #123
Thanks @Schnark!

[2018-05-18 09:48] #123 closed

[2018-07-20 01:59] iamjessklein opened #134 "FEATURE: Accessibility Guidelines"
**Story:** As a UX designer, I want to clearly understand how to practically implement “accessible” visual design.

**Possible solutions:** while this is called out specifically in the [this is for everyone](
https://design.wikimedia.org/style-guide/design-principles.html#this-is-for-everyone) principle, it might be worth connecting some actionable bullets to this or dedicating a new in-depth chap

[2018-10-16 13:46] iamjessklein opened #146 "FEATURE: Localization Guidelines"
Story: As a UX designer, I want to clearly understand how to practically implement “localizable” design.

Possible solutions: Either connecting this to every single section or add to one category (This is for Everyone).

Opportunity: right now this content is sprinkled throughout the guide on a very high level, however, if it was consolidated it would provide creators with a chance to deep dive in

[2018-11-22 03:43] santhoshtr opened #155 "Typography - specimen svg image does not display as expected"
This is how the top image in typography image is displayed in Ubuntu 18.10, Firefox.

![image](https://user-images.githubusercontent.com/161672/48880443-8dd52180-ee36-11e8-9506-1bdf8aff97fa.png)

The z in lato specimen is after a gap because:
[code]

[2018-11-22 03:49] santhoshtr opened #156 "SVG image for tpography-readability is missing spaces around links"
As shown in image, space around links is missing

![image](https://user-images.githubusercontent.com/161672/48880723-b4478c80-ee37-11e8-9b79-c2f4bd3f55c5.png)

[2018-12-04 11:40] #155 closed

[2018-12-05 01:02] Volker-E commented on #156
Fixed in #164

[2018-12-05 01:02] #156 closed

[2019-02-06 08:36] Volker-E commented on #134
We've been integrating accessibility requirements and measurements in various section of current style guide.
Such a “connecting the dots” section could provide an overview of
- why it's important to care about accessbility,
- types of disabilities covered and
- what measurements we are taking on to provide “accessibility by design“:
-- Color palette and use of color
-- Semantic HTML and SVG marku

[2019-02-07 09:03] Volker-E commented on #146
Contents that could live in such page:
- script specifics
- icon universality
- LTR/RTL languages, bidirectionality
- TTB/[BTT](https://www.quora.com/Are-there-languages-which-write-from-bottom-to-top)  languages design provisions if we want to show-off as very smart
- localization in layouts (minimalistic vs condensed?)
- …?

[2019-02-07 09:14] Volker-E commented on #32
@jdittrich From your [latest commit](https://github.com/jdittrich/WikimediaUI-Style-Guide/blob/usabilityguidelines/visual-style_usability.html) following topics were added to the “usability” page proposal:
- Adhere to standards and be consistent
- Show how one [user] can interact with an widget ~ provide interaction assistance
- Prevent Errors and alliviate them
- Care for keyboard usage

How woul

[2019-02-08 07:52] In1quity commented on #146
I think some information about _fixed size blocks_ with text, which needs to be localized, and about problems associated with it will be really useful.

[2019-02-08 17:44] jdittrich commented on #32
With "stringent  connection" do you mean “something which explains that is should be exactly these?”

In which case I need to say: There is none. It is what I find useful to consider – but there could be one, or some other ones… (The only case I know in which such a list was determined empirically, would be  the Nielsen/Moelich heuristics)

It is, indeed, though in my usability suggestions as well

[2019-03-07 13:52] iamjessklein opened #190 "[Typography] - what is the preferred treatment for system messages/alerts/dialogs?"
Right now I'm working on some loading indicators and want to pair it with microcopy. I'm looking at the typography sections in the style guide and don't see any directions. Do any exist?

[2019-05-07 18:32] Volker-E commented on #146
@In1quity That's a good point, but we first have to make clear, that fixed size blocks are the anti-pattern for internationalization, for scripts outside of the product peoples' languages behind the original design.
One step further could be how to deal with it, if there's no other way around. We already feature some advice on this at [“Dynamic text” section](https://design.wikimedia.org/style-gui

[2019-05-07 19:57] pamela-drouin commented on #146
Per [this ticket](https://phabricator.wikimedia.org/T221109), I'd like to know how to handle the following:

1. How should the overall UI elements (Captions and Statements panels) look when oriented in RTL languages?
2. Within a given panel, how do we handle situations when both LTR and RTL languages are present?

[2019-05-09 11:12] Volker-E commented on #146
@pamela-drouin I've tried to summarize a general approach on the ticket, awaiting feedback from RTL native speakers, which will then inform the further documentation here.

[2019-06-21 18:07] Volker-E commented on #190
✓ This has been resolved in #209. System messages are now part of the Components overview.

[2019-06-21 18:07] #190 closed

[2019-09-02 04:05] viztor opened #232 "Move resources to a different folder and use submodules"
resources contains too many binaries files and it's better if we can minimize the size this folder to improve DX

[2019-09-02 04:06] viztor opened #233 "Move icons into its own repo"
icons should better stay organized in its own repo and could later be made available as a icon-font on npm

[2019-09-24 05:53] Volker-E commented on #233
@viztor What ability or functionality is not fulfilled in the current way, icons are integrated into the Design Style Guide? What are you missing?

Also, be aware that we deliberately chose not to [officially support icon fonts any longer](https://phabricator.wikimedia.org/T154957), due to a number of technical shortcomings, stated in corresponding task.

[2019-09-24 22:21] viztor commented on #233
This repo contains large binary files which made it quite difficult to maintain. Support for icons doesn't discontinue with the discontinuation of icon fonts I presume. In today's scenario, if I am to use any of those icons, I either download them separately or clone the entire repository which is completely unnecessary and takes up huge amount of space. If I am ever to use those icons in my proje

[2019-10-08 19:30] Dishebh commented on #232
If it is still up for grabs, can I take it?

[2019-10-08 20:05] Volker-E commented on #232
Hi @Dishebh, thanks for your interest.

@Ladsgroup and myself were chatting about this issue today, and, given different angles to the problem, submodules don't seem to be the right approach here.
His recommendation were `git lfs`.

[2019-10-09 04:23] Dishebh commented on #232
@Volker-E so we now don't have to worry about shifting those huge files, right? Instead, we will push and commit cloned changes using `git lfs`, and update the instructions accordingly in the readme file to let others know...?

[2019-10-09 04:32] Volker-E commented on #232
@Dishebh Exactly, that should be the outcome aimed for. Captured in https://phabricator.wikimedia.org/T235013
@Ladsgroup has offered his help here given his expertise.

[2019-10-09 04:42] Dishebh commented on #232
Oh great! And if it is not assigned to anyone yet, can I take up the issue? Also, is there a way I can contact you with if there is any query, or shall I ping you here only ? @Volker-E

[2019-10-09 05:09] Volker-E commented on #232
@Dishebh GitHub is the simplest way to put new requests or provide bug feedback for Wikimedia's Design Style Guide. If you feel interested to more Wikimedia projects than Style Guide https://www.mediawiki.org/wiki/How_to_become_a_MediaWiki_hacker would be a good starting point.

[2019-10-09 19:26] Volker-E commented on #232
Fixed by #245.

[2019-11-17 20:04] viztor commented on #232
I'm not sure if this is really done. Moving the files to lfs is great. But since we already have those binaries in our previous commit. To reduce bundle size we will have to rewrite history with lfs

[2019-11-18 03:45] Volker-E commented on #232
@viztor You're right, we have to reopen this issue due to technical limitations in the last step involved on our Wikimedia infrastructure. https://phabricator.wikimedia.org/T235013 is still the reference point.

[2019-12-09 15:24] Swayamsvk commented on #33
Can I work on this?

[2020-03-05 13:56] popoolatopzy opened #351 "Load Resource 404 Error"
The resource `fontfaceobserver.standalone.js` file added at the web page https://design.wikimedia.org/style-guide/components/file-inputs.html responded with a status of **404**

[2020-03-10 06:26] Volker-E commented on #351
Thanks @popoolatopzy, I was able to reproduce this issue once in Chrome, but not repeatedly. Do you have any details on how to persistently reproduce it?

[2020-03-11 21:21] popoolatopzy commented on #351
The resource  ` fontfaceobserver.standalone.js` file added at the web page is not linked properly.

https://design.wikimedia.org/style-guide/components/js/vendor/fontfaceobserver/fontfaceobserver.standalone.js is used instead of
https://design.wikimedia.org/style-guide/js/vendor/fontfaceobserver/fontfaceobserver.standalone.js

[2020-03-11 21:35] olawanlejoel commented on #351
That's true!

[2020-03-11 22:01] Volker-E commented on #134
Successfully resolved with above! 🎉

[2020-03-11 22:01] #134 closed

[2020-03-31 13:20] neelansh15 commented on #351
@Volker-E This problem is present **all** the other pages in the components section, in the form of erroneous GET requests returning 404. I will see if I can do something about this.

[2020-03-31 17:38] Volker-E commented on #351
@neelansh15 Please do so, patches are welcome!

[2020-04-12 14:34] giacomovergnano opened #365 "[CSS] Use partials for modular CSS architecture?"
Hello all! (Hello again Volker 😄  )
I was checking the Style-guide's CSS structure. I see that there is just one partial folder for the font files and I was wondering if you had discussed the possibility of having a modular CSS file structure and decided against it.
If not I can open a pull request with my proposal and the reasoning behind it.

Thank you and all the best!

[2020-04-12 18:44] giacomovergnano commented on #365
2. I would also like to add a second questions if I may. It would be beneficial to use a static web generator in order to avoid repetition in HTML code for shared components such as header, footer, sidebar, etc
Have you already decided against it, or are you open to a possible implementation? If so I could open another Pull Request with my edits

[2020-04-16 06:58] Volker-E commented on #365
Hey @giacomovergnano, good to see you again!
Changing to a modular structure currently hasn't provided a strong enough, convincing benefit, given that we've also have, due to certain restrictions, other projects buidling on the main CSS prrovided here.

What were the arguments for a change from your perspective?

To your second point, yes. At length discussed in https://phabricator.wikimedia.org/T

[2020-04-21 13:43] giacomovergnano commented on #365
Hi @Volker-E thank you for your reply!
Point 1:
I was suggesting it because the setup of the Styleguide already allows it and from a maintainability and code navigation point of view I always have found easier to have different CSS modules for different utilities or style categories.
Indeed in the Styleguide case the code base is limited so the value might not be massive but for the same reason it

[2020-04-26 14:33] olawanlejoel commented on #351
@Volker-E was @neelansh15  able to fix this? If no, I could fix it if I get permission to do so.

[2020-04-26 14:36] neelansh15 commented on #351
@olawanlejoel I didn't post my solution here for lack of a better approach. You are free to come up with a solution :)

[2020-04-26 14:49] olawanlejoel commented on #351
@neelansh15 , I would work on it.

[2020-04-29 21:34] Volker-E commented on #351
@olawanlejoel Please go ahead!

[2020-05-14 06:42] nitin10s opened #376 "Alerts in Components"
**Description**
Alerts are an important part of a platform and user experience that helps maintain consistency.

Currently, the Style Guide doesn't contain any components for Alerts. Alerts is a basic component that should be added.

[2020-05-15 19:05] Volker-E commented on #351
Thanks @olawanlejoel for your patch!

[2020-05-15 19:05] #351 closed

[2020-05-16 16:08] olawanlejoel commented on #351
Thanks @Volker-E

[2020-05-19 05:52] Volker-E commented on #376
Hi @nitin10s! Thanks for your inputs.

Just to be fully clear, you're talking about a documentation in regards to standard [alert and notification dialogs as collected here](https://doc.wikimedia.org/oojs-ui/master/demos/?page=dialogs&theme=wikimediaui&direction=ltr&platform=desktop)?

[2020-05-19 07:35] nitin10s commented on #376
Yes

[2020-08-04 06:38] Princy06 commented on #376
I would like to solve this issue @Volker-E @nitin10s . If you want to add any information or any details than I'll be thankful.

[2020-09-01 17:31] iamjessklein opened #397 "Specify "common meaning" for utility colors"
On the **[Color section](https://design.wikimedia.org/style-guide/visual-style_colors.html)** of the style guide, it states:

`Utility colors are another type of accent color. Common meanings are associated with them. We use shades of red, green, and yellow as utility colors.`

However, we never say what the "common meanings" are that we associate with each color. This information would be helpful

[2020-09-02 09:27] SaiSan-WMDE commented on #397
Hi @iamjessklein! This is great. I think defining common meanings makes a lot of sense! Your approach is quite accurate, I would just add that:

- Variants of red are used to indicate errors in components, such as invalid input in a text field. They also represent destructive actions, such as delete or cancel.

About the examples, they should be easy to provide if needed.

[2020-10-20 14:27] Volker-E commented on #397
@iamjessklein @SaiSan-WMDE I've added both your inputs and also provided an additional note on accessibility:

[2020-10-22 10:50] SaiSan-WMDE commented on #397
Looking good! Thanks, Volker 👍

[2020-10-22 13:25] #397 closed

[2020-10-22 13:28] iamjessklein commented on #397
🏆

On Thu, Oct 22, 2020 at 9:25 AM Volker E. <notifications@github.com> wrote:

[2020-10-22 13:52] iamjessklein opened #414 "Add a link to the design team blog"
There should be an obvious link to the Wikimedia Design Blog somewhere on the website.

[2020-11-02 00:30] dougmellon commented on #414
Would anyone mind if I take this for a first issue?

[2020-11-02 10:01] Volker-E commented on #414
@dougmellon Please feel free to take it.
It makes sense to put it on the first page 'index.html' in the “Open to participate” section above “Follow Wikimedia Product Design team updates” list item.

[2020-11-02 18:33] dougmellon commented on #414
Doing it right now. Thank you.

[2020-11-02 20:46] Volker-E commented on #414
@dougmellon Great.

[2020-11-02 20:46] #414 closed

[2020-11-05 19:42] Volker-E commented on #376
Fyi, related Phabricator (Wikimedia Foundation's bug tracker tool) task: https://phabricator.wikimedia.org/T266029

[2020-11-13 15:12] Volker-E commented on #365
We might pick this proposal up in future again, closing currently for lack of priority, resources versus clear benefit on further development vs other pressing issues.

[2020-11-13 15:12] #365 closed

[2021-01-05 09:06] Nikerabbit opened #420 "Buttons look wrong in Firefox"
This page https://design.wikimedia.org/style-guide/components/buttons.html looks like this on Firefox:
![image](https://user-images.githubusercontent.com/1109395/103627222-fd8ac580-4f45-11eb-8b6c-23bf3fbc5a7e.png)

On Chrome it looks as expected.

[2021-01-05 09:44] reetssydney commented on #420
Hi @Nikerabbit - I can't reproduce this on my Firefox (84.0.1 (64-bit)) - would you mind refreshing and checking again?
It's a little strange since the entire set of buttons is one image, not code.
![image](https://user-images.githubusercontent.com/7241063/103631117-e1d1f000-4f42-11eb-8e30-41a82fe0dd0a.png)

[2021-01-05 11:25] Nikerabbit commented on #420
Refresh or private mode does not fix the issue. The issue is also present in https://design.wikimedia.org/style-guide/img/components/buttons_normal_and_primary_states.svg.

Maybe an SVG rendering issue in Firefox 78.6.0esr (Linux).

[2021-01-05 12:38] reetssydney commented on #420
Ah, I think you're right about it being an issue with SVG rendering. I didn't realise till now that the button text is being rendered as SVG <text> elements instead of as fills, and for whatever reason its rendering the font differently with greater letter-spacing than expected in certain browsers.
Here's an example with the font larger with more letter-space on one element which replicates your i

[2021-01-05 13:48] Nikerabbit commented on #420
I can confirm that the outlined versions render as expected in my Firefox.

[2021-01-05 14:15] reetssydney commented on #420
OK, I created a PR with the updated files in case this simple fix is sufficient, pending review from @Volker-E .

[2021-01-11 11:50] prtksxna commented on #420
Hey @Nikerabbit  Could you confirm that you're seeing the same issue with other images that have text in them too:
https://design.wikimedia.org/style-guide/img/components/buttons_designing.svg
https://design.wikimedia.org/style-guide/img/components/buttons_quiet_states.svg
https://design.wikimedia.org/style-guide/img/components/buttons_toggle_intro.svg

[2021-01-14 19:54] Nikerabbit commented on #420
DejaVu Serif. I don't see separate option for sans-serif, but I guess it would be DejaVu Sans.

[2021-01-21 15:38] Nisarg-27 opened #425 "Menu icon in mobile view off alignment"
In the mobile view of this website, the menu icon is not aligned properly with the logo.

![problem](https://user-images.githubusercontent.com/77735347/105373131-59369d80-5c2c-11eb-9905-222f61e5a874.JPG)

The menu icon is slightly above the logo which does not look good. The top position should be increased slightly.

[2021-01-21 15:49] Nisarg-27 opened #426 "Increasing the width of color blocks"
https://design.wikimedia.org/style-guide/visual-style_colors.html

In the mobile view of this page, the color blocks have a width of around 60% which leaves some white space on the right side of the page which does not look good

![problem 2](https://user-images.githubusercontent.com/77735347/105374351-9cddd700-5c2d-11eb-9804-2f5895a1864f.JPG)

If the width is increased to 100% it looks better tha

[2021-01-23 16:06] Volker-E commented on #426
Hi @Nisarg-27, thanks for your reports!

Having the colors provided as block instead is an aesthetical _choice_, but full-width rectangular doesn't necessarily translate to “better” in our evaluation. For portrait mode for example it's advantageous to have two colors side-by-side.

[2021-01-23 16:14] Volker-E commented on #425
The reason for current position was to put top menu icon line best-possibly on [cap height line](https://en.wikipedia.org/wiki/Typeface_anatomy) of “Wikimedia”, not centered to both lines.
<img width="324" alt="image" src="https://user-images.githubusercontent.com/619536/105607291-c6dce980-5d52-11eb-8587-8300578343f6.png">

If you are providing a patch, we could better evaluate your input.

[2021-01-24 08:25] Nisarg-27 commented on #425
I got that you're aiming to put the icon in line with "Wikimedia" but the system that I am using still shows the menu icon slightly above.

The current position with top 1.2rem
![problem](https://user-images.githubusercontent.com/77735347/105624933-8745f880-5e4b-11eb-8672-52227f80e5a2.JPG)

The position I am proposing with top 1.5rem
![Solution](https://user-images.githubusercontent.com/77735347/1

[2021-01-24 08:34] Nisarg-27 commented on #426
If having the colors side by side is an advantage we can decrease the width to 49.8%

![Solution2](https://user-images.githubusercontent.com/77735347/105625120-f3752c00-5e4c-11eb-8aea-e7b7c6d50fb1.JPG)

[2021-02-01 18:58] Adityachaturvedi2906 commented on #426
Hi,
  can I contribute to this? please guide me further.

[2021-02-04 00:10] Volker-E commented on #425
@Nisarg-27 I hope you're aware that the font is [dependent on the platform](https://github.com/wikimedia/WikimediaUI-Style-Guide/pull/99) one's browsing on and that [letter boxes are hard to come by](https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align).
Without a clearly fleshed out and intensely wide tested plan, I don't think it's useful to put effort into this.

[2021-02-08 22:38] Volker-E commented on #426
Not convinced to have them so squeezed together, just to go into two columns. It's breaking our approach to emphasize whitespace as a design instrument.
I could only see a path for mobile only breakpoint up to 414px with somewhat like
<img width="443" alt="image" src="https://user-images.githubusercontent.com/619536/107290369-40472e00-6a1b-11eb-9d47-cc6b43355f87.png">

[2021-02-09 14:00] Volker-E commented on #425
Closing this as is. Feel free to reopen when provide a patch set tested against our supported browser defined in  https://github.com/wikimedia/WikimediaUI-Style-Guide/blob/master/.browserslistrc

[2021-02-09 14:00] #425 closed

[2021-02-09 14:48] awantika10 opened #436 "Text flowing off the page"
This document https://design.wikimedia.org/style-guide/resources/WikimediaUI-components_overview.svg has **POPUP** variant text appears floating onto the next page and makes text run off the screen.
![wikimedia0](https://user-images.githubusercontent.com/71998138/107380469-e70ef580-6b13-11eb-9f5b-66360c9eec0c.PNG)

[2021-02-09 15:48] Volker-E commented on #436
Thanks @awantika10 for your input! Change is merged and will be deployed this week.

[2021-02-09 15:48] #436 closed

[2021-02-13 05:12] ravikr126 commented on #426
Hii I want to work on this .please assign me this issue.

[2021-02-14 18:39] Volker-E commented on #426
@ravikr126 Please feel free to provide a patch or any open questions!

[2021-02-19 06:49] #426 closed

[2021-02-19 07:13] Nisarg-27 opened #440 "Add more component design guidelines"
Wikimedia style guide gives us a pretty good understanding of basic designing but I think there is room for more components to be added.

Given below is a list of components that we can consider adding:
1. Carousel
2. Navigation Bar
3. Progress Bar
4. Pagination

These are just a few basic components that come to mind and there are many more. @Volker-E  please let me know your thoughts on this so

[2021-03-05 10:00] Abhra303 opened #443 "Add "scroll to top" button in web page"
### Description
The Navbar of this web site is not sticky. As a result viewers have to scroll back again to the top to go to another page. For short articles this is fine. But for long articles it takes much time to scroll (specially for mobiles).

#### Screenshot

![ezgif com-gif-maker](https://user-images.githubusercontent.com/75240995/110099056-e1c96180-7dc6-11eb-9aa4-b3bb75ea8c10.gif)

So a "s

[2021-03-07 08:28] Volker-E commented on #443
@jdlrobson How much insights do we have about such functionality on MobileFrontend?

[2021-03-08 20:44] jdlrobson commented on #443
Usage on mobile beta of a jump to top was super low so we removed it. Many browsers have jump to top functionality built in (for example iOS allows you to do so by clicking on the address bar. In mobile we plan to use a sticky header or table of contents widget instead on the longer term. https://phabricator.wikimedia.org/T147026

[2021-03-13 15:52] vishwjeet-singh commented on #443
@Abhra303 sir may i add scroll to top button at bottom left corner that appears when someone scrolls down a bit.

[2021-03-13 16:01] Abhra303 commented on #443
@vishwjeet-singh brother I am not from Wikimedia, 😅😅, just opened this issue..

As jdlrobson said they are working to make the header sticky. So I think they will handle this issue

[2021-03-18 12:02] 4kashyadav opened #448 "Add "dark mode" button in the website"

[2021-03-18 14:52] Volker-E commented on #448
@4kashyadav Please provide a bit more context on what you want to achieve or have covered? Otherwise this issue won't be workable.

[2021-03-25 15:01] Mihirkun commented on #443
Hiii there I want to contribute but I don't know how to contribute.

[2021-03-25 15:04] saurabh853 commented on #448
I want to contribute

[2021-03-25 16:07] ashexy commented on #448
I want to work on this.
Can i contribute?

[2021-03-25 16:24] Volker-E commented on #448
Hi all, please feel free to contribute. [Contributions are welcome](https://github.com/wikimedia/WikimediaUI-Style-Guide/blob/master/CONTRIBUTING.md) in Wikimedia Design Style Guide.
First step would be to clarify the issue definition. What should be accomplished by this task and its code changes?

[2021-03-25 19:30] AshishRajIITI commented on #448
Heyy @Volker-E, I suppose what @4kashyadav wanted to say is that the Wikimedia website presently doesn't have the dark mode feature. Since The idea behind dark mode is that it reduces the light emitted by device screens while maintaining the minimum color contrast ratios required for readability, and most of the modern websites contain this feature, adding this feature to the Wikimedia website wil

[2021-03-26 13:26] Ashleyisreal commented on #448
Hi!
I am Utkarsh, a GSoC applicant and a 2nd year undergraduate Electronics and Communication student at Indian Institute of Information Technology Allahabad, India. I am really interested into designing stuff and creative thinking but I don't mind banging lines of code to build stuff. I am also a Frontend Developer.

If someone could guide me on how i can start contributing, it would be really he

[2021-03-26 14:08] 4kashyadav commented on #448
I am adding the button named "D" , if we click on that then the dark mode will be activated. Dark mode is here to help with this, making the screen easier to see in low lighting such as in the night or early morning. It can be a lot easier on the eyes, causing less strain and is better in the long run. So can you assign me this because I want to contribute in this.
See some results -
![Screenshot

[2021-03-29 11:54] imranhadi01 commented on #448
i wanna work on this issue. please assign this to me.

[2021-03-31 14:20] Volker-E commented on #448
Thanks for the comments here @AshishRajIITI and following.

I do think that there's a misunderstanding of how design decisions are achieved in Wikimedia Foundation. Yes, we're aware of a dark mode missing for Wikimedia projects in general, but there have been a number of things to be considered before coming up with a code implementation.
Please see https://phabricator.wikimedia.org/T26070 or http

[2021-04-07 17:44] 4kashyadav opened #452 "ADD follow section in footer!"
I will add a follow section in your footer in which I will add some buttons of Instagram, Twitter, Facebook, and so on so can you assign me this, please!
Like this:
![Screenshot (508)](https://user-images.githubusercontent.com/78416508/113910889-f4382000-97f6-11eb-85de-206f864fc9fa.png)

[2021-04-07 17:45] 4kashyadav commented on #452
@Volker-E sir please assign this to me!! I want to contribute!

[2021-04-13 16:28] khubaibalam2000 commented on #440
Adding more designing components will give it a perfect and concise look.

[2021-04-19 05:30] imranhadi01 commented on #452
i wanna work on this issue.

[2021-04-19 11:21] Volker-E commented on #452
@4kashyadav @imranhadi01 Sorry, this is not in plan for the Wikimedia Design Style Guide.
There are several issues with the approach:
- I don't even know how you ended up with Facebook or Instagram? Wikimedia Design doesn't use either.
- We already have linked GitHub and Twitter from the footer
- Using logos of other companies would need to have license or copyright notices mentioned.

We don't se

[2021-04-19 11:21] #452 closed

[2021-04-19 23:56] Volker-E commented on #440
Please also see https://phabricator.wikimedia.org/T277047 for a full overview of components to be designed and implemented.

[2021-05-19 14:47] Adityachaturvedi2906 commented on #440
Hey! this issue seems interesting, can I work on this issue for MediaWiki Hackathon 2021?

[2021-05-19 19:46] Volker-E commented on #440
@Adityachaturvedi2906 Basically we're more than happy for help!

What I've said above, [adding a component follows a process](https://github.com/wikimedia/WikimediaUI-Style-Guide/issues/440#issuecomment-793920247) and we (Wikimedia Design team) also got a few additions in the pipeline, **progress indicators** and **tabs**.
Carousel is quite questionable if ever added to the style guide as usual Ca

[2021-05-20 08:35] himanshujasuja1040 commented on #448
I Would really keen to contribute on this issue. I will put my best efforts to make it as beauttiful as I can .

[2021-05-20 12:25] Adityachaturvedi2906 commented on #440
Can you please help me with how can I start with this project?

[2021-05-21 08:02] Volker-E opened #465 "Transform build scripts from Grunt to npm based scripts"
As of current, we're basing our [build scripts on Grunt](https://github.com/wikimedia/WikimediaUI-Style-Guide/blob/master/Gruntfile.js).
To reduce maintenance overhead, dependencies and be future-proof, we should move over to npm scripts.

[2021-05-21 15:13] Volker-E commented on #448
@himanshujasuja1040 Have you read and understood my comment above?

[2021-05-21 15:16] Volker-E commented on #440
@Adityachaturvedi2906 Have you ever worked on designing components for a design system in the past?
Did you make yourself comfortable with the Contributing guidelines?
Have you a specific component from the list above that you want to work on and made yourself a clear picture on how it's used currently in Wikimedia projects and what are the design requirements/constraints for it?

It might be a be

[2021-06-01 10:47] Sanyam17-beep commented on #448
hey I'm new to open source contribution I know html css and js  can anyone please guide how do i start

[2021-06-11 11:01] prsmahajan commented on #465
Hi, I want to work on this issue, can you suggest ways to get started?

[2021-06-11 11:04] prsmahajan commented on #443
Hi, I would like to work on this specific issue, can anyone tell me the issue within this problem and I will be started?

[2021-06-29 12:31] Volker-E commented on #146
We've gone a more contextual way in the Style Guide to make it universally applicable. With the notes in the different sections similar to icon guidelines mentioning RTL considerations or [Typography article](https://design.wikimedia.org/style-guide/visual-style_typography.html) note
<img width="797" alt="image" src="https://user-images.githubusercontent.com/619536/123797446-09bf6200-d89b-11eb-9c7

[2021-06-29 12:31] #146 closed

[2021-07-05 06:27] userpavankumar commented on #443
Now, the website user can go to the top of the page with a single click.

If you scroll down the page and the page is so long and you want to go to the top of the page, you just click the arrow located in the bottom right corner.

## Pages before 'scroll to top' functionality.
![Screenshot (199)](https://user-images.githubusercontent.com/73659550/124425888-d98a2e80-dd86-11eb-84da-898281940bb1.png)

[2021-09-02 06:06] RoshanMhatre commented on #443
I will do it no time, please assign me this issue!

[2021-09-03 11:42] awantika10 commented on #465
Hey @Volker-E, I wish to take up this issue. However, I am new to Grunt. Could you please give me an overview of how to go about converting Gruntfile to npm scripts?

[2021-09-05 20:07] dougmellon commented on #465
@awantika10 I am busy right now but tonight or tomorrow I can walk you through this.

[2021-09-05 20:34] dougmellon commented on #465
@Volker-E I'll take this and walk @awantika10 through the process.

[2021-09-06 04:36] awantika10 commented on #465
Thanks! Where do we start with?

[2021-09-22 06:39] dougmellon commented on #448
@Sanyam17-beep please reference the [comment](https://github.com/wikimedia/WikimediaUI-Style-Guide/issues/448#issuecomment-811106653) from @Volker-E above.

[2021-09-26 09:18] Nightowl-8 commented on #443
@Abhra303 sir, I want to contribute to this issue.

[2021-09-26 09:20] Nightowl-8 commented on #376
Hii there, I am interested to solve this issue. Can you assign this issue to me @nitin10s @Volker-E ?

[2021-11-25 13:46] TechDockDev commented on #443
@Abhra303 I wish to resolve this issue . please assign me this issue.

[2021-11-25 13:48] Manogya46 commented on #443
@Abhra303 I wish to resolve this issue . Please assign me this issue.

[2021-11-30 04:08] Volker-E commented on #443
This functionality is not clearly argumented to be beneficial, see @jdlrobson comment about similar functionality on Wikipedia's MobileFrontend in comparison. It's currently not planned to be added to the Design Style Guide. In case the Wikimedia Design team makes it a priority, we'll re-open it again.

[2021-11-30 04:08] #443 closed

[2021-12-12 17:23] alone-ant commented on #448
Hello I can use html,css and js to add this feature

[2022-02-05 16:27] rinkydevi commented on #232
I can contribute in this issue,how can i proceed?

[2022-02-05 16:28] rinkydevi commented on #420
I can contribute in this issue,how can i proceed?

[2022-02-05 16:29] rinkydevi commented on #440
I can contribute in this issue, how can i proceed ?

[2022-02-11 05:09] Nymphalys commented on #440
Thankyou @Volker-E to let me know from where to start,as I too wanted to contribute to this,I'll do the same as you suggested to @Adityachaturvedi2906

[2022-08-02 02:18] danisztls commented on #465
I'm hijacking this issue.

## Grunt and tooling context

*check [package.json](https://github.com/wikimedia/WikimediaUI-Style-Guide/blob/master/package.json) & [Gruntfile.js](https://github.com/wikimedia/WikimediaUI-Style-Guide/blob/master/Gruntfile.js)*

- [ ] JS Linting -> [ESlint](https://eslint.org/)
- [ ] JS Building -> [ESbuild](https://esbuild.github.io/)
- [ ] CSS Linting -> [Stylelint](ht

[2022-08-09 10:59] danisztls commented on #233
@Volker-E Were SVG sprites tried? I had positive experiences with [svg-sprite](https://www.npmjs.com/package/svg-sprite).

I agree with @viztor, a full clone takes up 600MB of space or 129MB if shallow.

[2022-08-09 11:04] danisztls opened #507 "Consider dropping Squoosh"
Squoosh will be deprecated by it's [author](https://github.com/GoogleChromeLabs/squoosh/pull/1266#issuecomment-1208149979) and support only up to Node v16 being  the sole blocker of an update from Node v12 to v18.

The project uses Squoosh to generate PNGs from SVGs. [sharp](https://www.npmjs.com/package/sharp) is a possible replacement.

[2022-08-09 11:48] danisztls commented on #232
Just to summarize the Phabricatoir discussion. This project is migrating to Figma and a new repo which will not contain large binaries.

[2022-08-11 14:41] Volker-E commented on #465
In #507 @danisztls proposed to replace soon-to-be deprecated Squoosh, which seems reasonable to me.

[2022-08-25 08:32] SerDIDG commented on #507
For the time being, we can add `NODE_OPTIONS=--no-experimental-fetch` to the package scripts, as in this commit:
https://github.com/argoproj/argo-workflows/commit/0b6e9417a1f72c713ddc5910d267530bd3c96563

[2022-08-25 11:54] danisztls commented on #507
@SerDIDG That works but #508 replaces Squoosh with Sharp so a workaround isn't needed.

[2022-09-12 15:59] golu098 commented on #420
i want to contribute in your project grant me access as well as permission